<div class="col-md-2">
  {{> adminlist}}
</div>

<div class = "col-md-10">
  <form role = "form" method = "POST"> 
    <h1> Fighters </h1>
    <ul class = "datalist">
      {{#each fighters}} 
      <div class = "col-md-6">
        <li>
        <button formaction = "/admin/fighters/{{id}}/delete"
          type = "submit"
          class = "btn btn-xs btn-default" 
          name = "id" value = {{id}}> X </button>
        <img src = "{{countryIcon person.country}}"/>
        <b>{{person.name}}</b>
        as 
        {{characters}}
        </li>
      </div>
      {{/each}}
    </ul>
  </form>
</div>
