<div class="col-md-2">
  {{> adminlist}}
</div>
<div class="col-md-10">
  <h1>Games</h1>
  <ul class = "datalist">
  {{#each games}} 
  <li>
    <button formaction = "/admin/games/{{id}}/delete"
          type = "submit"
          class = "btn btn-xs btn-default" 
          name = "id" value = {{id}}> X </button>
    <img class = "gameLogoSmall"src = {{gameIcon nickname}}> </img> 
    <b>{{name}} - {{nickname}}</b></li>
  {{/each}}
  </ul>
</div>