<div class="col-md-2">
  {{> adminlist}}
</div>
<div class="col-md-4">
  {{> forms/createMatch}}
</div>

<div class ="col-md-6">
  <ul style="list-style-type:none">
  {{#each matches}} 
   <li>
   <form role = "form" method = "POST"> 
    <img class = "gameImageSmall" src = {{gameIcon game.nickname}}> </img> 
    <button formaction = "/admin/matches/{{id}}/delete"
          type = "submit"
          class = "btn btn-xs btn-default" 
          name = "id" value = {{id}}> 
          <span class = "glyphicon glyphicon-trash"></span> 
    </button>
          
    {{#if approved}}
        <button formaction = "/admin/matches/{{id}}/unapprove" type = "submit"
        class = "btn btn-xs btn-default" name = "id" value = {{id}}>
          <span class="glyphicon glyphicon-thumbs-up"></span></button>
        {{#if featured}}
          <button formaction = "/admin/matches/{{id}}/unfeature" type = "submit"
          class = "btn btn-xs btn-default" name = "id" value = {{id}}>
            <span class="glyphicon glyphicon-star"></span>
          </button>
        {{else}}
          <button formaction = "/admin/matches/{{id}}/feature" type = "submit"
          class = "btn btn-xs btn-default" name = "id" value = {{id}}>
            <span class="glyphicon glyphicon-star-empty"></span>
          </button>
        {{/if}}
          {{title}} <i> {{category}} </i> {{description}}
    {{else}}
        <button formaction = "/admin/matches/{{id}}/approve" type = "submit"
        class = "btn btn-xs btn-default" name = "id" value = {{id}}>
        <span class="glyphicon glyphicon-thumbs-down"></span></button>
          {{title}} <i> {{category}} </i> {{description}}
    </form>
    {{/if}}
    </li>
  {{/each}}
  </ul>
</div>