<div class="col-md-2">
  {{> adminlist}}
</div>
<div class="col-md-4">
  {{> forms/createMatch}}
</div>

<div class ="col-md-6">
  <ul class="datalist">
  {{#each matches}} 
   <li class = "dataItem">
   <form role = "form" method = "POST"> 
    <div class = "adminControls">
    <img class = "gameLogoSmall" src = {{gameIcon game}}> </img> 
    <button formaction = "/admin/matches/{{id}}/delete"
          type = "submit"
          class = "btn btn-xs btn-default" 
          name = "id" value = {{id}}> 
          <span class = "glyphicon glyphicon-trash"></span> 
    </button>
    {{#if approved}}

        <button formaction = "/admin/matches/{{id}}/unapprove" type = "submit"
        class = "btn btn-xs btn-default" name = "id" value = {{id}}>
          <span class="glyphicon glyphicon-thumbs-up"></span></button>
        {{#if featured}}
          <button formaction = "/admin/matches/{{id}}/unfeature" type = "submit"
          class = "btn btn-xs btn-default" name = "id" value = {{id}}>
            <span class="glyphicon glyphicon-star"></span>
          </button>
        {{else}}
          <button formaction = "/admin/matches/{{id}}/feature" type = "submit"
          class = "btn btn-xs btn-default" name = "id" value = {{id}}>
            <span class="glyphicon glyphicon-star-empty"></span>
          </button>
        {{/if}}
        </div>
        <div class = "itemInfo">
          {{title}} <i> {{category}} </i> <br> Played on: {{playedAt}} <br>Description: {{description}} 
        </div>
    {{else}}
        <button formaction = "/admin/matches/{{id}}/approve" type = "submit"
        class = "btn btn-xs btn-default" name = "id" value = {{id}}>
        <span class="glyphicon glyphicon-thumbs-down"></span></button>
      </div>
      <div class = "itemInfo">
        {{title}} <i> {{category}} </i> <br> Played on: {{playedAt}} <br>Description: {{description}} 
      </div>
    </form>
    {{/if}}
    </li>
  {{/each}}
  </ul>
</div>