<div class="list-group">
  <a class="list-group-item active" href="/admin">
    Dashboard
  </a>
  </a>
  <a class="list-group-item" href="/admin/people">
  <span class="badge">{{all.people.length}}</span> 
    People
  </a>
  <a class="list-group-item" href="/admin/characters">
  <span class="badge">{{all.characters.length}}</span> 
    Characters 
  </a>
  <a class="list-group-item" href="/admin/games">
  <span class="badge">{{all.games.length}}</span> 
    Games 
  </a>
  <a class="list-group-item" href="/admin/videos">
  <span class="badge">{{all.videos.length}}</span> 
    Videos
  </a>
  <a class="list-group-item" href="/admin/events">
  <span class="badge">{{all.events.length}}</span> 
    Events 
  </a>
  <a class="list-group-item" href="/admin/channels">
  <span class="badge">{{all.channels.length}}</span> 
    Channels 
  </a>
  <a class="list-group-item" href="/admin/teams">
  <span class="badge">{{all.teams.length}}</span> 
    Teams 
  </a>
  <a class="list-group-item" href="/admin/fighters">
  <span class="badge">{{all.fighters.length}}</span> 
    Fighters 
  </a>
  <a class="list-group-item" href="/admin/matches">
  <span class="badge">{{all.matches.length}}</span> 
    Matches 
  </a>
  
  <a class="list-group-item" href="/admin/submittedmatches">
  <span class="badge">{{all.submittedMatches.length}}</span> 
    Submitted Matches 
  </a>
</div>
