<div class="row">
  <div class="table-responsive">
    <table class="table table-condensed">
      <thead>
        <tr>
          <td>game</td>
          <td>title</td>
          <td>fighters</td>
          <td>event</td>
          <td>casters</td>
        </tr>
      </thead>
      <tbody>      
        {{#each matches}}
        <tr>
          
          <td>    
           <img src = {{gameIcon game.name}}> </img>
          </td>
          
          <td>
            <a href="/matches/{{id}}">
              {{title}}
            </a>
          </td>

          <td>
            {{#each fighters}}
                <img src = "{{countryIcon person.country}}"/> 
              <b>{{person.name}}</b>
              <em>
                {{#each characters}}
                  {{name}}
                {{/each}}
              </em>
            {{/each}}
          </td>

          <td>
            {{event.name}}
          </td>
          
          <td>
            {{casters}}
          </td>

        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
