<div class="tile-region-7">
  <div class="tile-region-6" id="featuredPro">
    {{#if featuredPro}}
      <div class="tile-6x1">
        <h3 class="subheader">{{subheaders.topLeft}}</h3> 
      </div>
      {{#with featuredPro}} 
      <div class="tile-6x6">
        {{> tiles/match-tile-featured}}
      </div>
      {{/with}}
    {{/if}}
  </div>
  <div class="tile-region-1"></div>

  <div class="tile-region-6" id="proList">
  {{#if proMatches}}
    <div class="tile-6x1">
      <h3 class="subheader">{{subheaders.botLeft}}
      {{#if searched}}
        <span class="subheader-secondary">{{searched}}</span>
      {{/if}}
      </h3>
    </div>
    {{#each proMatches}}
      <div class="tile-6x2">
        {{> tiles/match-tile-listitemtall}}
      </div>
    {{/each}}
  {{else}}
    <div class="tile-6x2">
      <h3> No Results found </h3>
    </div>
  {{/if}}
  </div>
  <div class="tile-region-1">
  </div>
</div>

<div class="tile-region-10" id="focusedContent">
  {{#if focusedMatch}}
    {{#with focusedMatch}}
    <div class="tile-10x1">
      <h3 class="subheader">
        match details
      </h3> 
    </div>
    {{> tiles/match-tile-main}}
    {{/with}}
  {{else}}
    <div class="tile-10x1">
    </div>
    <button id="intro">intro</button>
  {{/if}}
</div>

<div class="tile-region-7">

  <div class="tile-region-1"></div>
  <div class="tile-region-6" id="featuredCommunity">
    {{#if featuredCommunity}}
      <div class="tile-6x1">
        <h3 class="subheader">{{subheaders.topRight}}</h3> 
      </div>
      {{#with featuredCommunity}}
      <div class="tile-6x6">
        {{> tiles/match-tile-featured}}
      </div>
      {{/with}}
    {{/if}}
  </div>

  <div class="tile-region-1"></div>
  <div class="tile-region-6" id="communityList">
    <div class="tile-6x1">
      <h3 class="subheader">
        {{subheaders.botRight}}
        {{#if searched}}
          <span class="subheader-secondary">{{searched}}</span>
        {{/if}}
      </h3>
    </div>
    {{#if communityMatches}}
      {{#each communityMatches}}
        <div class="tile-6x2">
          {{> tiles/match-tile-listitemtall}}
        </div>
      {{/each}}
    {{else}}
      <div class="tile-6x2">
        <h3> No Results Found </h3>
      </div>
    {{/if}}
  </div>
</div>
