<div class="row">
  <div class="table-responsive">
    <table class="table table-condensed">
      <thead>
        <tr>
          <td>title</td>
          <td>fighters</td>
          <td>event</td>
          <td>casters</td>
        </tr>
      </thead>
      <tbody>
        {{#each matches}}
        <tr>

          <td>
            <a href="/matches/{{id}}">
              {{title}}
            </a>
          </td>

          <td>
            {{#each fighters}}
              {{player.name}}
            {{/each}}
          </td>

          <td>
            {{event.name}}
          </td>

          <td>
            cast by: 
            {{#each casters}}
              {{name}}  
            {{/each}}
          </td>

        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
