<div class="col-xs-24">
  <div class="tile-12x1">
    <img src = {{gameIcon game.nickname}}> </img>
    <span style = "font-size:22px"> {{title}}</span>
  </div>
</div>

<div class="col-xs-24">
  <div class="tile-8x1"> 
    {{#with fighterOne}}
          <img src = "{{countryIcon person.country}}"/>
          {{person.name}}
        {{#each characters}}
          <span class="character-name"><i>{{name}}</i></span> 
        {{/each}}
    {{/with}}
    
    {{#with fighterTwo}}
          <img src = "{{countryIcon person.country}}"/>
          {{person.name}} 
        {{#each characters}}
          <span class="character-name"><i>{{name}}</i></span> 
        {{/each}}
    {{/with}}
  </div>

  {{#if event}}
  <div class="tile-6x1">
      <div class="event">
        <span class="event-name"><b>{{event.name}}</b></span>
      </div>
  </div>
  {{/if}}
  
  <div class="tile-8x1">
  {{#if casters}}
    <div class="caster-list">
      Cast by:
    {{#each casters}}
      <span class="caster-name">
        <img src = "{{countryIcon country}}"/>
       {{name}}
      </span>
    {{/each}}
    </div>
  {{/if}}
  </div>
  <section class="col-xs-24">
  <hr>
  <div class = "col-xs-6"></div>
  <div class = "col-xs-6"> 
    {{#each videos}}
      <iframe width="530" height="330" src={{url}} 
      frameborder="0" allowfullscreen>
      </iframe>
    {{/each}}
  </div>
  <div class = "col-xs-6"></div>
  </section>
</div>


