<div class="row">
  <div class="table-responsive">
    <table class="table table-condensed">
      <thead>
        <tr>
          <td>game</td>
          <td>title</td>
          <td>fighters</td>
          <td>event</td>
          <td>casters</td>
        </tr>
      </thead>
      <tbody>
        <tr>
        
          <td>    
           <img src = {{gameIcon game.name}}> </img>
          </td>
          <td>
            <a href="/matches/{{id}}">
              {{title}} 
            </a>
          </td>

          <td>
            {{#each fighters}}
              <strong>
                {{playerName}}
              </strong>
              <em>
                {{#each characters}}
                  {{name}}
                {{/each}}
              </em>
            {{/each}}
          </td>

          <td>
            {{event.name}}
          </td>

          <td>
             Caster Placeholder
          </td>

        </tr>
      </tbody>
    </table>

    <section class="row">
      {{#each videos}}
      <iframe width="560" height="315" src={{url}} frameborder="0" allowfullscreen>
      </iframe>
      {{/each}}
    </section>
  </div>
</div>
