<div class="row">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <td>
            <h3>
            <img src = {{gameIcon game.nickname}}> </img>
            {{title}}
            </h3>
          </td>
          <td></td>

        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Players</td>
          <td>Event</td>
          <td>Casters</td>
        
        </tr>      
        <tr>
          <td>
            {{#with fighterOne}}
              <img src = "{{countryIcon person.country}}"/>
              <b>
                {{person.name}}
              </b>
                {{#each characters}}
                   <em>{{name}}</em>
                {{/each}}
              <br>
            {{/with}}
            {{#with fighterTwo}}
              <img src = "{{countryIcon person.country}}"/>
              <b>
                {{person.name}}
              </b>
                {{#each characters}}
                   <em>{{name}}</em>
                {{/each}}
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <br>
            {{/with}}
          </td>

          <td>
            {{event.name}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </td>

          <td>
            {{#each casters}}
              <img src = "{{countryIcon country}}"/>{{name}}
            {{/each}}
          </td>
        </tr>
      </tbody>
    </table>
<hr>
    <section class="row">
      {{#each videos}}
      <iframe width="560" height="315" src={{url}} frameborder="0" allowfullscreen>
      </iframe>
      {{/each}}
    </section>
  </div>
</div>
