<div class="col-xs-24">
  <div class="tile-12x1">
    <img class = "gameLogoSmall" src = {{gameIcon game.nickname}}> </img>
    <span style = "font-size:22px"> {{title}}</span>
  </div>
</div>

<div class="col-xs-24">
  <div class="tile-8x1"> 
    {{#with fighterOne}}
          <img src = "{{countryIcon person.country}}"/>
          {{person.name}}
        {{#each characters}}
          <span class="character-name"><i>{{name}}</i></span> 
        {{/each}}
    {{/with}}
    <br>
    {{#with fighterTwo}}
          <img src = "{{countryIcon person.country}}"/>
          {{person.name}} 
        {{#each characters}}
          <span class="character-name"><i>{{name}}</i></span> 
        {{/each}}
    {{/with}}
  </div>

  {{#if event}}
  <div class="tile-6x1">
      <div class="event">
        <span class="event-name"><b>{{event.name}}</b></span>
      </div>
  </div>
  {{/if}}
  
  <div class="tile-8x1">
  {{#if casters}}
    <div class="caster-list">
      Cast by:
    {{#each casters}}
      <span class="caster-name">
        <img src = "{{countryIcon country}}"/>
       {{name}}
      </span>
    {{/each}}
    </div>
  {{/if}}
  </div>
  <section class="col-xs-24">
  <hr>
  <div class = "col-xs-6"></div>
    <div class = "tile-12x8">
      <iframe class="embedded-video"
            iv_load_policy=3
            src={{ytUrl videos}}&color=white
            frameborder="0" 
            rel=0
            width = 100%
            height = 100%
            modestbranding
            allowfullscreen>
      </iframe>
    </div>
</div>


