<form role="form" class="form-horizontal" id="submitMatchForm">
  <div class="form-group">
    <label for="title" class="col-sm-2 control-label">Title</label>
    <div class="col-sm-10">
      <input class="form-control" type="text" name="title" id="title" placeholder="match title">
      </input>
    </div>
  </div>

  <div class="form-group">
    <label for="game" class="col-sm-2 control-label">Game</label>
    <div class="col-sm-10">
      <select class="form-control" id="game" name="game">
        {{#each games}}
          <option value={{id}}>{{name}}</option>
        {{/each}}
      </select>
    </div>
  </div>

  <div class="form-group">
    <label for="event" class="col-sm-2 control-label">Event</label>
    <div class="col-sm-10">
      <select class="form-control" id="event" name="event">
        {{#each events}}
          <option value={{id}}>{{name}}</option>
        {{/each}}
      </select>
    </div>
  </div>

  <div class="form-group">
    <label for="fighters" class="col-sm-2 control-label">Player 1</label>
    <div class="col-sm-10">
      <select multiple class="form-control" id="fighterOne" name="fighterOne">
        {{#each fighters}}
          <option value={{id}}>{{player.name}} 
            {{#each characters}}
              {{name}}
            {{/each}}
          </option>
        {{/each}}
      </select>
    </div>
  </div>  
  
  <div class="form-group">
    <label for="fighters" class="col-sm-2 control-label">Player 2</label>
    <div class="col-sm-10">
      <select multiple class="form-control" id="fighterTwo" name="fighterTwo">
        {{#each fighters}}
          <option value={{id}}>{{player.name}} 
            {{#each characters}}
              {{name}}
            {{/each}}
          </option>
        {{/each}}
      </select>
    </div>
  </div>

  <div class="form-group">
    <label for="casters" class="col-sm-2 control-label">Casters</label>
    <div class="col-sm-10">
      <select multiple class="form-control" id="casters" name="casters">
        {{#each people}}
          <option value={{id}}>{{name}}</option>
        {{/each}}
      </select>
  </div>

  <div class="form-group">
    <label for="videos" class="col-sm-2 control-label">Videos</label>
    <div class="col-sm-10">
      <div class="row">
        <label class="col-sm-1 control-label">Url</label>
        <div class="col-sm-4">
          <input type="text" class="form-control"></input>
        </div>

        <label class="col-sm-1 control-label">Name</label>
        <div class="col-sm-4">
          <input type="text" class="form-control"></input>
        </div>
        <button class="btn col-sm-2">Add</button>
      </div>
      <ul id="videos" class="row">
      </ul>
    </div>
  </div>

  <div class="form-group">
    <button class="btn btn-default" type="submit">
      Submit
    </button>
  </div>
</form> 

<script src="/javascripts/matchCreate.js"></script>
