{{fc-admin-subheader action = "updateInfo"}}

<div class = "adminWrapper">
  <div class = "tile-region-8"> </div>

  <div class = "tile-region-6 summaryColumn">
    <div class = "adminSummaryHeader"> Matches </div>
    {{fc-adminSummaryItem items = matches type = "matches"}} 
  </div>

  <div class = "tile-region-6 summaryColumn">
    <div class = "adminSummaryHeader"> Contacts </div>
    {{fc-adminSummaryItem items = contacts type = "contacts"}} 
  </div>
  <div class = "tile-region-6 summaryColumn">
    <div class = "adminSummaryHeader"> People </div>
    {{fc-adminSummaryItem items = people type = "people"}} 
  </div>
  <div class = "tile-region-6 summaryColumn">
    <div class = "adminSummaryHeader"> Events </div>
    {{fc-adminSummaryItem items = events type = "events"}} 
  </div>
</div>