{{fc-admin-subheader action = "updateInfo"}}
<div class = "container">
  <div class = "adminWrapper">
  <div class = "tile-region-24">
    <div class = "tile-region-7">
      <div class = "adminSummaryHeader"> Matches </div>
      {{fc-adminSummary items = matches type = "matches"}} 
    </div>

    <div class = "tile-region-6">
      <div class = "adminSummaryHeader"> Users </div>
      {{fc-adminSummary items = users type = "users"}} 
    </div>
    <div class = "tile-region-5">
      <div class = "adminSummaryHeader"> People </div>
      {{fc-adminSummary items = people type = "people"}} 
    </div>
    <div class = "tile-region-6">
      <div class = "adminSummaryHeader"> Events </div>
      {{fc-adminSummary items = events type = "events"}} 
    </div>
  </div>
  </div>
</div>