{{fc-admin-subheader action = "updateInfo"}}

<div class = "adminWrapper">
  <div class = "container">
    <div class = "tile-region-24">
      <div class = "tile-region-10 matchWrapper">
        {{fc-admin-matches matches = matches}} 
      </div>

      <div class = "tile-region-11 adminFormWrapper">
        {{#if masterView}}
          {{fc-admin-create
            matches = matches
            people = people
            events = events
            characters = characters}}
        {{else}}
          {{#if isEditingMatch}}
          {{fc-admin-edit-details
             matches = matches
             people = people
             events = events
             characters = characters
             match = controller.match
             action = "doneEditingMatch"}}
          {{else}}
            {{fc-admin-details 
              match = controller.match 
              action = "deleted" 
              matchDeleted=matchDeleted
              matches = matches
              editMatch = "editMatch"}}
          {{/if}}
        {{/if}}
      </div>
    </div>
  </div>
</div>