<form role="form">
  <div class="form-group">

    <div class="form-group admin-form-text-input-half">
        <label>Create A Match</label>
      {{input type="text"
        disabled=inFlight 
        value=data.title
        class = "form-control"
        placeholder = "match title"}}
      <span class="help-block">{{errors.title}}</span>
    </div>
    
      
    <div class="form-group admin-form-select-half">
      <label for="playedAt">Date Played</label>
       {{input type="date" disabled=inFlight value=data.playedAt
        class = "form-control"}}
    </div>
    
    <div class="form-group admin-form-text-input">
      {{input type="text"
        disabled=inFlight
        value=data.description
        class = "form-control"
        placeholder = "description"}}
    </div>
    
    <div class="form-group admin-form-select-half">
      {{view Ember.Select
        disabled=inFlight
        prompt="select game"
        content=games
        selection=data.game
        optionLabelPath="content"
        class = "form-control"}}
      <span class="help-block">{{errors.game}}</span>
    </div>
    
    <div class="form-group admin-form-select-half">
      {{view Ember.Select
        disabled=inFlight
        prompt="select category"
        content=categories
        selection=data.category
        optionLabelPath="content"
        optionValuePath="content"
        class = "form-control"}}
      <span class="help-block">{{errors.game}}</span>
    </div>
    
        {{fc-createFighterForm
          inFlight=inFlight
          characters=characters
          fighter=data.fighters
          people = people
          class = "form-group"}}
    
    <div class="form-group"> 
      <label> players to add: </label>
      {{fc-fighterSummary 
        inFlight=inFlight
        fighters=data.fighters}}
    </div>
        
    <div class="form-group admin-form-select-half">
      <label for="casters">Casters</label>
      {{view Ember.Select
        disabled=inFlight
        prompt="Select Casters"
        multiple=true
        content=people
        selection=data.casters
        optionLabelPath="content.name"
        class = "form-control"}}
    </div>

    
    <div class="form-group admin-form-select-half">
      <label>event name</label> 
      {{view Ember.Select
        disabled=inFlight
        prompt="select event"
        content=events
        selection=data.event
        optionLabelPath="content.name"
        class = "form-control"}}
    </div>
    
  

    <div class="form-group">
       {{fc-createVideoForm inFlight=inFlight videos=data.videoData}}
    </div>   


    <div class="form-group">
    <label> videos to add </label>
       {{fc-videoSummary
      inFlight=inFlight
      videos=data.videoData}}
    </div>

    <div class = "form-group">
      <button class="btn btn-default"
        {{bind-attr disabled=inFlight}}
        {{action "onsubmit" data}}>
        submit
      </button> 
    </div>
    
  </div>
</form> 

