<div class = "summaryItem">
 
  {{categoryLabel}}
  
  {{#unless isEditing}} 
  
    {{#if item.name}}
      {{item.name}}
    {{/if}}

    {{#if item.email}}
      {{item.email}}
    {{/if}}

    {{#if item.title}}
      {{item.title}}
    {{/if}}

    <button class = "adminBtn btn btn-xs"
           {{action deleteItem type item}}> 
            <span class = "glyphicon glyphicon-trash"></span>
    </button> 

    <button class = "adminBtn btn btn-xs"
           {{action modifyItem type item}}> 
            <i class="fa fa-pencil-square-o"></i>
    </button>
  {{else}}
    
    {{input class="summaryInput" type="text" value = item.attrValue}}
    
    <button class = "adminBtn btn btn-xs"
      {{action saveChanges type item}}> 
      <span class = "glyphicon glyphicon-floppy-disk"></span>
    </button>  
  {{/unless}} 
  </div>  