<li class="tile featured">
  <div class="tile-tag">
    <span class="game">{{game.nickname}}</span>
    <span class="type">{{category}}</span>
  </div>

  <div class="fighter-list">
    {{#with fighterOne}}
    <div class="fighter-name">
      {{person.name}} 
    </div>
    <div class="character-list">
      {{#each characters}}
        <span class="character-name">{{name}}</span>
      {{/each}}
    </div>
    {{/with}}

    <div class="vs">VS</div>

    {{#with fighterTwo}}
    <div class="fighter-name">
      {{person.name}}
    </div>
    <div class="character-list">
      {{#each characters}}
        <span class="character-name">{{name}}</span>
      {{/each}}
    </div>
    {{/with}}
  </div>

  <div class="video-thumbnails">
  {{#each videos}}
    <div class="video-thumbnail"></div> 
    <div class="video-thumbnail"></div> 
    <div class="video-thumbnail"></div> 
  {{/each}}
  </div>

  <div class="title-name">
    {{title}}
  </div>

  {{#if event}}
  <div class="event">
    <span class="event-name">{{event.name}}</span>
  </div>
  {{/if}}

</li>
