<a class="tile-match-listitem" href="/matches/{{id}}">
  <div class="fighter-list">

    {{#with fighterOne}}
      <div class="fighter first">
        <div class="character-list">
        {{#each characters}}
          <span class="character-name">{{name}}</span> 
        {{/each}}
        </div>
        <div class="fighter-name">
          {{person.name}}
        </div> 
      </div> 
    {{/with}}
    
    <div class="vs">
      <span>VS</span>
    </div>

    {{#with fighterTwo}}
      <div class="fighter second">
        <span class="fighter-name">
          {{person.name}}
        </span> 
        <div class="character-list">
        {{#each characters}}
          <span class="character-name">{{name}}</span> 
        {{/each}}
        </div>
      </div> 
    {{/with}}
    
  </div>

  <div class="match-details">
    <span class="event-name">{{event.name}}</span> 
  </div>

</a>
