<div class="tile-match-listitem" href="/matches/{{id}}">
  <div class="fighter-list">

    {{#with fighterOne}}
      <div class="fighter first">
        <div class="character-list">
        {{#each characters}}
          <span class="character-name">{{name}}</span> 
        {{/each}}
        </div>
        <div class="fighter-name">
          {{person.name}}
        </div> 
      </div> 
    {{/with}}
    
    <div class="vs">VS.</div>

    {{#with fighterTwo}}
      <div class="fighter second">
        <div class="fighter-name">
          {{person.name}}
        </div> 
        <div class="character-list">
        {{#each characters}}
          <span class="character-name">{{name}}</span> 
        {{/each}}
        </div>
      </div> 
    {{/with}}
    
  </div>

  <div class="match-details">
    <div class="event-name">{{event.name}}</div>
  </div>
</div>
